/*taget fra http://littlesnippets.net/category/categories/menus/*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.snip1217 {
    font-family: 'Raleway', Arial, sans-serif;
    text-align: right;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0 px;
}

.snip1217 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1217 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 1.5em;
    padding: 0;
}

.snip1217 a {
    padding: 0.3em 0;
    color: #797D7F;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.snip1217 a:before,
.snip1217 a:after {
    height: 3px;
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: #E74C3C;
    width: 0;
}

.snip1217 a:before {
    top: 0;
    left: 0;
}

.snip1217 a:after {
    bottom: 0;
    right: 0;
}

.snip1217 a:hover,
.snip1217 .current {
    color: black;
}

.snip1217 a:hover:none .snip1217 .current a:before,
.snip1217 a:hover:after,
.snip1217 .current a:after {
    width: 100%;
}


/* Demo purposes only */

body {
    background-color: white;
    padding: 50px 0;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: table-header-group;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: static;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.video-container video.fillWidth {
    width: 100%;
}

body {
    color: #797D7F;
    font-family: 'Raleway', Arial, sans-serif;
}
.
